#contacts {
    background-color: var(--darkTeal);
    height: 260px;
    padding: 50px 0 0 60px;
}
.content-contacts {
    background-color: var(--darkTeal);
    display: inline-table;
    height: 200px;
    padding: 0 10%;
    padding: auto;
}
.title-contacts {
    background-color: var(--darkTeal);
    color: var(--white);
    margin-bottom: 20px;
}
.link-cont {
    text-decoration: none;
    font-size: 15;
    font-weight: 400;
    font-family: var(--geneva-family);
    color: var(--gray);
    background-color: var(--darkTeal);
}
.link-cont:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--orange);
}
#contact-icon {
    font-size: 26px;
    color: var(--gray);
    padding-right: 15px;
    background-color: var(--darkTeal);
}
#contact-icon:hover {
    color: var(--orange);
}

@media only screen and (max-width: 1100px) {
    .content-contacts {
        padding: 0 8%;
    }
}
@media only screen and (max-width: 770px) {
    .content-contacts {
        padding: 0 25px;
    }
}

@media only screen and (max-width: 640px) {
    #contact-icon {
        font-size: 16px;
    }
    .link-cont {
        font-size: 13px;
    }
    .title-contacts {
        font-size: 17px;
    }
    .content-contacts {
        padding: 0 12px;
    }
}