#contacts {
    background-color: var(--darkTeal);
    height: 260px;
    padding: 50px 0px 0 60px;
}
.content-contacts {
    background-color: var(--darkTeal);
    display: inline-table;
    height: 200px;
    padding-right: 12%;
    padding: auto;
}
.title-contacts {
    background-color: var(--darkTeal);
    color: var(--white);
    margin-bottom: 20px;
}
.link-cont {
    text-decoration: none;
    font-size: 15;
    font-weight: 400;
    font-family: var(--geneva-family);
    color: var(--gray);
    background-color: var(--darkTeal);
}
.link-cont:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--orange);
}
#contact-icon {
    font-size: 26px;
    color: var(--gray);
    padding-right: 15px;
    background-color: var(--darkTeal);
}
#contact-icon:hover {
    color: var(--orange);
}

@media only screen and (max-width: 1090px) {
    .content-contacts {
        padding-right: 10%;
    }
}
@media only screen and (max-width: 960px) {
    .content-contacts {
        padding-right: 7%;
    }
}
@media only screen and (max-width: 820px) {
    .content-contacts {
        padding-right: 40px;
    }
}

@media only screen and (max-width: 735px) {
    .link-cont {
        font-size: 12px;
    }
    #contact-icon {
        font-size: 20px;
    }
    .title-contacts { 
        font-size: 16px;
    }
}
@media only screen and (max-width: 619px) {
    #contacts {
        padding: 50px 0 0 10px;
    }
    .content-contacts {
        padding-right: 20px;
    }
}